/* stylelint-disable selector-list-comma-newline-after */
.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.home{
	background-color: blue;
}

.mainContainer{
	background-color: white;
    background-clip: content-box;
}

@media (min-width: 300px) {
	
	.display-4 {
		font-size: 3rem;
	}
  
	.blog-header-logo {
		font-size: 20px;
		margin-left: 30px;
	}
	
	.tagline{
		font-size: 14px;
	}
	
	.readMoreBtn{
		width: 60%;
	}
	
	.sponsor{
		margin-bottom: 10px;
		padding-left: 4px;
	}
	
	.footerCol{
		margin-bottom: 20px;
	}
	
}

@media (min-width: 767px) {
	
	.display-4 {
		font-size: 3rem;
	}
  
	.readMoreBtn{
		width: 40%;
	}
	
	.blog-header-logo {
		font-size: 40px;
		margin-left: 30px;
	}
	
	.tagline{
		font-size: 20px;
	}
	
}

@media (min-width: 1200px) {
  .display-4 {
    font-size: 3rem;
  }
  
	.readMoreBtn{
		width: 30%;
	}
}

.blog-header {
  line-height: 1;
  background-color: #0F0F0F;
}

/*.home{
	background-image:
    linear-gradient(
      to right, 
      blue,
      blue 397px,
      white 397px,
      white 1507px,
      blue 1507px
    );
}*/

.sponsors{
	padding-left: 25px;
    padding-right: 25px;
}

.navPagination{
	padding-left: 25px;
}

.under-caroulsel{
	background-color: #0F0F0F;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  /*height: 2.75rem;*/
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.navrow{
	padding-left: 15px;
	padding-right: 15px;
}

.navcol{
	background-color: #0F0F0F;
	padding-left: 30px;
}

.readMore{
	display: none;
}



/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post{
	display: none;
}

.pageSet1{
	display: block;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #0F0F0F;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* Caroulsel */
h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.footer-titles{
	text-align: left;
}

/*Caroulsel controls*/
.carousel-indicators,
.carousel-control {
  display: none;
}
